name: Terraform Plan apply
on:
    push:
        branches: ['main']
env:
    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID}}
    ARM_CLIENT_SECRET: ${{secrets.AZURE_CLIENT_SECRET}}
    ARM_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
    ARM_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
jobs:
    terraform-plan:
        runs-on: ubuntu-latest

        steps:
            # Checkoutthe repository to the GitHub Actions runner
            - name: 'Checkout repository'
              uses: actions/checkout@v4

            - name: Azure Login
              uses: azure/login@v2
              with:
                  # client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  # tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  # subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                  # enable-AzPSSession: true
                  creds: ${{secrets.AZURE_CREDENTIALS}}

            # Install the latest version of the Teraform CLI
            - name: 'Set up Terraform'
              uses: hashicorp/setup-terraform@v3

              # Initialize a new or existing Terraform working directory
              # Creating initial files, loading any remote state, downloading modules, etc.
            - name: 'Terraform Init'
              run: terraform init

              # Checks that all Terraform configuration files adhere to a canonical format
            - name: 'Terraform Format Check'
              run: terraform fmt -check -recursive

              # Validate Terraform files
            - name: 'Terraform Validate'
              run: terraform validate

              # Create an execution plan for Terrafom
            - name: 'Terraform Plan'
              run: terraform plan -out=tfplan

              # Upload Terraform Plan
            - name: 'Upload Terraform Plan'
              uses: actions/upload-artifact@v4
              with:
                  name: tfplan
                  path: tfplan

    terraform-apply:
        runs-on: ubuntu-latest
        needs: [terraform-plan]
        steps:
            # Checkoutthe repository to the GitHub Actions runner
            - name: 'Checkout repository'
              uses: actions/checkout@v4

            # Install the latest version of the Teraform CLI
            - name: 'Set up Terraform'
              uses: hashicorp/setup-terraform@v3

              # Initialize a new or existing Terraform working directory
              # Creating initial files, loading any remote state, downloading modules, etc.
            - name: 'Terraform Init'
              run: terraform init

              # Download saved plan from artifacts
            - name: Download Terraform Plan
              uses: actions/download-artifact@v4
              with:
                  name: tfplan
                  path: .

              #  Terraform apply
            - name: 'Terraform apply'
              run: terraform apply -auto-approve tfplan
