name: Terraform Test
on:
    push:
        branches: ['main']
env:
    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID}}
    ARM_CLIENT_SECRET: ${{secrets.AZURE_CLIENT_SECRET}}
    ARM_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
    ARM_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
jobs:
    terraform-test:
        runs-on: ubuntu-latest

        steps:
            # Checkoutthe repository to the GitHub Actions runner
            - name: 'Checkout repository'
              uses: actions/checkout@v4

            # Install the latest version of the Teraform CLI
            - name: 'Set up Terraform'
              uses: hashicorp/setup-terraform@v3

              # Initialize a new or existing Terraform working directory
              # Creating initial files, loading any remote state, downloading modules, etc.
            - name: 'Terraform Init'
              run: terraform init

              # Checks that all Terraform configuration files adhere to a canonical format
            - name: 'Terraform Format Check'
              run: terraform fmt -check -recursive

              # Validate Terraform files
            - name: 'Terraform Validate'
              run: terraform validate
